
.toolbar {position:fixed;top:220px;left:200px;right: 0;z-index:200;line-height: 68px;}
.menu-button {position: relative; margin: 5px; height: 36px;width: 36px;cursor: pointer;}
.menu-button:before {content: "";position: absolute;top: 5px;right: 3px;border-bottom: 17px double #273A54;
  border-top: 6px solid #273A54;width: 30px; height: 5px;}


